body {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    margin: 0;
}

header {
    background-color: #606060;
    padding-bottom: 10px;
}

nav.main-nav {
}

div {
    padding: 8px;
}

section {
    padding: 8px;
}

section.user-block {
    color: orange;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

div.logo-block {
    margin: auto;
}

div.login-block {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}

div.login-block a:hover {
    text-decoration: underline;
}

div.login-block a {
    margin: 10px;
}

nav.main-nav ul {
    align-self: center;
    background-color: #848484;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

nav.main-nav ul li {
    display: flex;
    justify-content: center;
}

ul.main-ul li:hover {
    background-color: orange;
}

li {
    flex-basis: 0;
    flex-grow: 1;
    padding: 5px;
}

footer {
    align-items: center;
    background-color: #848484;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

main {
    background-color: #606060;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.social-button {
    background-color: #f09f13;
    border-radius: 12px;
    border-width: 0;
    color: #ffffff;
    cursor: pointer;
    padding: 6px;
}

.social-button:hover {
    background-color: #606160;
}

table {
    background-color: white;
    width: 100%;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: darkgray;
}

tr:hover {
    background-color: orange;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    background-color: darkgrey;
    padding: 0;
    margin: 0;
    width: 100%;
}

li.message {
    background-color: #848484;
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
    padding: 0;
}

div.message-content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

div.message-content-subcategory {
    margin: 0;
    padding: 0;
    background-color: grey;
}

div.message-content-subcategory h4 {
    margin: 0;
    padding: 3px;
}

div.message-content-message {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #959595;
    height: 100%;
}

div.message-sender {
    background-color: darkgrey;
}

div.message-actions {
    background-color: orange;
    display: flex;
    flex-direction: row;
    padding: 0;
}

p.message-sender-name {

}

p.error {
    background-color: indianred;
    margin: 0;
    padding: 10px;
}

p.message {
    background-color: limegreen;
    margin: 0;
    padding: 10px;
}