body {
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
}

header {
    padding-bottom: 10px;
    background-color: gainsboro;
}

.href {
    color: black;
}

footer {
    padding-top: 10px;
    align-items: center;
    background-color: #959595;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

section {
    padding-bottom: 6px;
}

.section_main_page {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin: 16px 10px;
    padding: 10px;
}

div {
    padding: 8px;
    float: left;
}

.info p {
    border-bottom: 1px solid #b22222;
    padding: 10px;
    text-align: left;

}

.info p:hover {
    color: firebrick;
    cursor: pointer;
}

section.user-block {
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;

}

div.logo-block {
    font-size: 20px;
    letter-spacing: 1px;
    margin: auto;
    text-shadow: 1px 1px 1px darkgrey, 0 0 1em grey;

}

div.login-block a {
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
    border-width: 0px;
    color: black;
    padding: 6px;
}

div.login-block a:hover {
    text-decoration: underline;
}

nav.main-nav ul {
    align-self: center;
    background-color: #959595;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

nav.main-nav ul li {
    display: flex;
    justify-content: center;

}

ul.main-ul li:hover {
    background-color: firebrick;
}

li {
    flex-basis: 0;
    flex-grow: 1;
    padding: 5px;

}

main {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h4 {
    margin-left: 18px;
}

table {
    background-color: white;
    width: 100%;
}

th, td {
    border-bottom: 1px solid lightgrey;
    padding: 10px;
    text-align: left;
}

.table_td {
    padding: 0;
}

th {
    background-color: lightgrey;
}

tr:hover {
    background-color: firebrick;
    cursor: pointer;
}

form {
    background-color: dimgray;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
}

li.message {
    background-color: #848484;
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
    padding: 0;
}

div.message-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
}

div.message-content-subcategory {
    background-color: dimgray;
    margin: 0;
    padding: 0;
}

div.message-content-subcategory h4 {
    margin: 0;
    padding: 3px;
}

div.message-content-message {
    background-color: lightgray;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

div.message-sender {
    background-color: gray;
    height: 100%;
    width: 15%;
}

div.message-actions {
    display: flex;
    flex-direction: row;
    padding: 0;
}

p.message-sender-name:hover {
    color: #b22222;
    cursor: pointer;
}

p.error {
    background-color: indianred;
    margin: 0;
    padding: 10px;
}

p.message {
    background-color: limegreen;
    margin: 0;
    padding: 10px;
}

select, .select_reg {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid firebrick;
    background-color: white;
    box-sizing: border-box;
    text-indent: 1px;
    font-size: 18px;
    max-height: 50px;
    min-height: 30px;
    margin-left: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.input_text, .input_text_reg, .input_text_login {
    border: 1px solid firebrick;
    box-sizing: border-box;
    text-indent: 10px;
    font-size: 16px;
    max-height: 50px;
    min-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
}

.swearwords_page {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.input_text_swearwords {
    border: 1px solid firebrick;
    font-size: 16px;
    text-indent: 8px;
    width: 100%;
}

.button_swearwords {
    background-color: grey;
    border-radius: 1px;
    color: #ffffff;
    cursor: pointer;
    height: 30px;
    width: 30%;
}

.button, .button_login, .button_reg, .button_forum_create, .button_del, .button_green {
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
    border-color: transparent;
    border-radius: 1px;
    color: #fff;
    font-size: 18px;
    height: 35px;
    margin-bottom: 20px;
    margin-left: 3px;
    margin-top: 10px;
}

.button_login, .button_green {
    margin-left: 3px;
}

.button, .button_login, .button_reg, .button_del, .button_green {
    font-size: 18px;
    padding: 0 24px;
}

.button_forum_create {
    font-size: 16px;
}

.button, .button_forum_create, .button_del, .input_text {
    max-width: 200px;
    min-width: 150px;
}

.button_reg, .input_text_reg {
    max-width: 73%;
    min-width: 150px;
    margin-left: 0;
}

.input_text_login, .button_login, .button_green {
    max-width: 73%;
}

.select_reg, select {
    width: 200px;
}

.button_message_update, .button_message_delete, .button_message_reply {
    background: gray none repeat scroll 0 0;
    cursor: pointer;
    border-color: transparent;
    color: #fff;
    font-size: 16px;
}

.button_message_update:hover, .button_message_delete:hover, .button_message_reply:hover {
    background-color: firebrick;
}

.tdbutton {
    background: grey none repeat scroll 0 0;
    border-color: transparent;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    margin: 1px;
}

.button_login, .button_del {
    background: crimson none repeat scroll 0 0;
}

.button_login:hover, .button_del:hover {
    background: darkred none repeat scroll 0 0;
}

.tdbutton:hover {
    background: firebrick none repeat scroll 0 0;
    border-color: firebrick;
}

.button_reg, .button_green {
    background: green none repeat scroll 0 0;
}

.button_reg:hover, .button_green:hover {
    background: darkgreen none repeat scroll 0 0;
}

.button_forum_create {
    background: gray none repeat scroll 0 0;
}

.button_forum_create:hover, .button_swearwords:hover {
    background: dimgray none repeat scroll 0 0;
}

.text_for_msg {
    width: 30%;
    height: 200px;
    border: 1px solid firebrick;
    text-indent: 10px;
    font-size: 16px;
    margin: 10px;
}

.social-button {
    border-radius: 50%;
    border-width: 0;
    cursor: pointer;
    padding: 6px;
}

.social-button:hover {
    background-color: firebrick;
}

.login_page, .profile_page {
    background-color: white;
}

.reg_div_section_one {
    width: 25%;
}

.reg_div_section_two {
    width: 71%;
    background-color: gainsboro;
    margin-top: 30px;
}

.login_div, .profile_div {
    padding: 40px;
    width: 20%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin: 10px auto;
}

.profile_div {
    width: 40%;
}

.forum_div_button_one, .forum_div_button_two {
    width: 46%;
}
